@model IList<FoodSupplementsSystem.Models.AllCategories.SupplementViewModel>

<br />
<div class="text-center"><h1>Top 3 Supplements</h1></div>

@foreach (var supplement in Model)
{
    <div class="col-md-4">
        <img src="@Url.Content(supplement.ImageUrl)" alt="alternative text" />
        <h3>@supplement.Name</h3>
    </div>
}
<hr />
