@model FoodSupplementsSystem.ViewModels.AllComments.CommentViewModel
<div class="row" style="word-wrap: break-word">
    @Model.Content
</div>
<div>
    <i>Created by: </i><strong>@Model.AuthorName</strong>
</div>
<i>Created On: </i> @Model.DateCreated
<hr />
<br />