@model IList<FoodSupplementsSystem.ViewModels.AllBrands.BrandViewModel>

@foreach (var brand in Model)
{
    <div class="col-md-6">
        <h3>@brand.Name</h3>
        Web site: <a href="@brand.WebSite">@brand.WebSite</a>
        @if (brand.Supplements.Count != 0)
        {
            <p>All registered supplements in this brand!</p>
        }
        else
        {
            <p>No supplements.</p>
        }

        @foreach (var supplement in brand.Supplements)
        {
            <img src="@Url.Content(supplement.ImageUrl)" alt="alternative text" />
        }
    </div>
}
